@import 'variables';

body {
    font-family: $font-base;
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

h1, h2, h3 {
    font-family: $font-heading;
}


header {
    background-color: $color-secondary;
    color: $color-primary;
    text-shadow: 1px 1px black;
}


footer {
    background-color: $color-secondary;
    color: $color-primary;
    text-shadow: 1px 1px black;
}

main {

    color: $font-color;

}

h2 {
    text-align: center;
    text-shadow: 1px 1px black;
    color: $color-secondary;
    font-size: $font-size-heading;
}

h3 {
    color: $color-primary;
}

a {
    color: $color-primary;
    text-decoration: none;
}

a:hover {
    color: $color-accents;
}

.text-secondary {
    color: $color-accents !important;
}


.btn {
    border: $color-accents 1px solid;
}

.btn:hover {
    background-color: $color-accents;
    color: $color-primary;
    border: white 1px solid;
}

nav {
    background-color: $color-primary;
}

div {
    margin: 10px 0;
}
