// scss/variables.scss

$enable-transitions: true !default;

$font-base: 'Josefin Sans', sans-serif;
$font-heading: 'Abril Fatface', serif;
$font-size-base: 16px;
$font-size-heading: 50px;

$color-primary: #efaac4;
$color-secondary: #86a96f;
$color-bg: #FDF0D5;
$color-accents: #56667A;
$font-color: #453F3C;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Progress bars

$progress-height:                   1rem !default;
$progress-font-size:                $font-size-base * .75 !default;
$progress-bg:                       $color-accents !default;
$progress-border-radius:            5px !default;
$progress-box-shadow:               inset 0 .1rem .1rem rgba(black, .1) !default;
$progress-bar-color:                white !default;
$progress-bar-bg:                   theme-color("primary") !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;
