// scss/variables.scss
$color-primary: #efaac4;  // Custom primary color
$color-secondary: hsl(108, 24%, 48%);
$color-bg: #FDF0D5;  // Custom background color
$color-accents: #56667A;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

$font-base: 'Josefin Sans', sans-serif;
$font-heading: 'Abril Fatface', serif;
$font-size-base: 16px;
$font-size-heading: 24px;
$font-color: #453F3C
