// scss/variables.scss
$color-primary: #efaac4;
$color-secondary: #86a96f;
$color-bg: #FDF0D5;
$color-accents: #56667A;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

$font-base: 'Josefin Sans', sans-serif;
$font-heading: 'Abril Fatface', serif;
$font-size-base: 16px;
$font-size-heading: 50px;
$font-color: #453F3C
